body {
    margin: 0;
}

ol {
    margin-left: 2%;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    padding: 2em;
    background-color:#f9e4e5;
}
span {
    font-weight: bolder;
    font-size: large;
    color: rgb(163, 105, 142);
}

.container {
    margin: 1em;
    border: 2px solid #d6588cc6;
    border-radius: 5px;
    padding: 1em;
}

img {
    padding: 2%;
}
.title {
    font-weight: bold;
}
.header-title {
    font-size: larger;
}

#footer {
    font-weight: lighter;
    
}